
body{
    background-color: lightgray;
}

.header{
    height: 250px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;

}
.main{
    margin-top: 3rem;
}
#regButton{
    margin-top: 50px;
}
.tables{
    margin-top: 3rem;
}