<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Telephone Station</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0-1/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/font-awesome/5.0.6/web-fonts-with-css/css/fontawesome-all.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">ITelecom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">О нас</a>
                </li>
            </ul>


                <div th:unless="${authorized}">
                    <form action="login" class="form-inline">
                        <button type="submit" class="btn btn-default">Войти</button>
                    </form>
                </div>


                <div class="authenticated" th:if="${authorized}">
                    <form action="logout" class="form-inline">
                        <div class="greeting">
                            <span th:text="${account.username}"></span>,
                            <span>hi!</span>
                            <button type="submit" class="btn btn-default">Выйти</button>
                        </div>
                    </form>
                </div>

        </div>
    </div>
</nav>


<header class="header d-flex flex-column justify-content-center">
    <div class="container">
        <h1 class="display-3">Лучшая телефонная сеть Беларуси</h1>
        <p class="lead">Выбери для себя удобный тариф для разговоров, интернет тарифы и многое другое</p>
    </div>
</header>

<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

                <div class="card">
                    <img class="card-img-top" th:src="@{img/ads.jpg}">
                    <div class="card-body">
                        <h5 class="card-title">Заказ рекламы</h5>
                        <p class="card-text">Купить рекламный банер вы можете по телефону +375297616194</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6" id="regButton">
                <button onclick="window.location.href='/registration'" type="button" class="btn btn-outline-dark btn-lg btn-block">Регистрация
                </button>
            </div>

            <div class="col-lg-3">


            </div>
        </div>
    </div>






</main>


</body>
</html>